version: '3.4'

services:
  database.pgs:
    image: postgres:18
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3.13-management
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=12345
    ports:
      - "5672:5672"
      - "15672:15672"

  cache:
    image: redis:7.2-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes: 
      - cache:/data
volumes:
  cache:
  postgres_data:
